# Laravel & PHP
/vendor
/.phpunit.cache
/storage/*.key
/storage/pail
/bootstrap/ssr
/.phpactor.json
/.phpunit.result.cache
Homestead.json
Homestead.yaml
/auth.json

# Node & Frontend
/node_modules          # OPTIONAL: bisa di-ignore tapi biasanya penting
/public/build          # build Vite/React
/public/hot            # hot reload
/npm-debug.log          # OPTIONAL
/yarn-error.log         # OPTIONAL

# Environment files
.env
.env.backup
.env.production

# IDE / editor configs
/.idea                 # OPTIONAL
/.vscode               # OPTIONAL
/.fleet                # OPTIONAL
/.zed                  # OPTIONAL

# Storage links
/public/storage        # karena tdi php artisan storage:link
